<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<%- include('./partials/nav') %>

<main>
  <div>
    <h2> Restaurants near <img src="https://seeklogo.com/images/G/general-assembly-logo-D5C634F07A-seeklogo.com.png" alt="GA" width="30" height="30">  DC campus </h2>
  </div>
  <section>
    <div class="flex">
      <% restaurants.forEach((r) => { %>
        <div class="card" style="width: 22rem;">
          <div class="img-container">
            <img class="card-img-top" src=<%= r.image_url %>  alt="Card image cap">
          </div>

          <div class="rating">
            <li><i class="fa-solid fa-star"></i><%= r.rating %></li>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= r.name %> </h5>
            <p><%= r.price %></p>
            <p><%= r.categories[0].title %></p>
            <p>Location: <%= r.location.display_address %></p>
            <% if (user) { %>
              <a href="/restaurants/<%= r.id %>" class="btn btn-primary">Detail</a>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </section>
</main>



<%- include('./partials/footer') %>
