<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<%- include('./partials/nav') %>

<main>
  <h1> <%= user ? user.profile.name : "Login to use" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  
  <h2><a href="/restaurants/new">Add a restaurant!</a></h2>
  <h2><a href="/restaurants">Show me all the restaurants!</a></h2>
</main>

<%- include('./partials/footer') %>
