<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
      <label for="name-input">Name:</label>
      <input type="text" name="name" value="<%= restaurant.name %>" id="name-input">
    
       <form 
      action="/restaurants/<%= restaurant._id %>/reviews"
      method="POST">
      <textarea name="content" id="content-textarea"></textarea>
      <label for="rating-select">Rating:</label>
      <select name="rating" id="rating-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <button type="submit">Add Review</button>
      <label for="menu-select">Menu</label>
    <select name="menu" id="menu-select">
      <option value="Bowl">Bowl</option>
      <option value="Sandwich/burger">Sandwich/burger</option>
      <option value="Salad">Salad</option>
    </form>
  
    </form>
  </main>

<%- include('../partials/footer') %>