<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="main-wrapper">
    <div class="left-col">
      <div class="image-container">
        <img src=<%= r.image_url%> alt="">
      </div>
      <h3><%= r.name %> </h3>
      <span>Rating</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet unde ducimus molestias tempora fugit, eligendi architecto, ratione saepe debitis laudantium nemo reiciendis minima placeat dolorem perferendis, quasi dicta consequuntur mollitia?</p>

      <h3>Restaurant Information</h3>
      <p><%= r.display_phone %> </p>
      <span><%= r.location.display_address[0] %> </span>
      <p><%= r.location.display_address[1] %> </p>
      

      <h4>Hours of opearation</h4>
    </div>
    <div class="right-col">
      <h3>Leave a Review</h3>
      <form action="">
        <div>
        <label for="review">What were your thoughts?</label>
        <textarea name="" id="review" style="width:100%;" rows="10"></textarea>
      </div>
      <div>
        <label for="rating">Select a rating</label>
        <select name="" id="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
        <div>

          <button style="width:100%;margin:0;" type="submit">Leave review</button> 
        </div>
      </form>

      <hr>

      <h3>Previous Reviews</h3>
      <p>Review Title</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam omnis deserunt facere, modi facilis quo iusto mollitia sunt similique nihil?...</p>
      <p>Review left by: Sun Moon</p>
      <br><br>

      <p>Review Title</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam omnis deserunt facere, modi facilis quo iusto mollitia sunt similique nihil?...</p>
      <p>Review left by: Sun Moon</p>
      <br><br>

      <p>Review Title</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam omnis deserunt facere, modi facilis quo iusto mollitia sunt similique nihil?...</p>
      <p>Review left by: Sun Moon</p>
      <br><br>

      <p>Review Title</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam omnis deserunt facere, modi facilis quo iusto mollitia sunt similique nihil?...</p>
      <p>Review left by: Sun Moon</p>
      <br><br>
    </div>
  </div>
</main>
    

<%- include('../partials/footer') %>